@page "/Trabajo/Delete/{TrabajoId:int}"
@inject TrabajosServices trabajosServices
@inject ClientesServices clientesServices
@inject TecnicoServices tecnicosServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer
<PageTitle>Eliminar</PageTitle>

<div class="container">
    <div class="shadow-lg">

        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Eliminar trabajo</strong></h3>
        </div>

        @*Body*@
        <div class="card-body">
            <div class="text-center mt-3">
                <h5><strong>¿Est&aacute; seguro de que desea eliminar este trabajo?</strong></h5>
            </div>

            <ul class="mt-4">
                <li><strong>TrabajoId: </strong>@Trabajo.TrabajoId</li>
                <li><strong>ClienteId: </strong>@Trabajo.ClienteId</li>
                <li><strong>NombreCliente: </strong>@Trabajo.Clientes?.Nombres</li>
                <li><strong>Prioridad: </strong>@Trabajo.Prioridades?.Descripcion</li>
                <li><strong>TecnicoId: </strong>@Trabajo.TecnicoId</li>
                <li><strong>NombreTecnico: </strong>@Trabajo.Tecnicos?.Nombres</li>
                <li><strong>Descripci&oacute;n: </strong>@Trabajo.Descripcion</li>
                @foreach (var detalle in ListaDetalle)
                {
                    <li><strong>Articulo: </strong>@detalle.Articulos?.Descripcion</li>
                }
                <li><strong>Monto: </strong>@Trabajo.Monto.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</li>
            </ul>
        </div>

        @*Footer*@
        <div class="card-footer text-end mt-3">
            <button type="button" class="btn btn-primary" @onclick="Volver">Volver</button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
        </div>
    </div>
</div>
@Mensaje
@code {
    [Parameter]
    public int TrabajoId { get; set; }
    public Trabajos Trabajo { get; set; } = new Trabajos();
    public TrabajoDetalle TrabajoDetalle { get; set; } = new TrabajoDetalle();
    public List<TrabajoDetalle> ListaDetalle { get; set; } = new List<TrabajoDetalle>();

    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Trabajo = await trabajosServices.Buscar(TrabajoId);
        ListaDetalle = await trabajosServices.BuscarDetalle(TrabajoId);
    }

    private async Task Eliminar()
    {
        var Eliminar = await trabajosServices.Eliminar(Trabajo.TrabajoId);

        if (Eliminar)
        {
            Mensaje = "El trabajo se ha eliminado correctamente. ";
            Volver();
        }

        else
        {
            Mensaje = "No se ha podido eliminar trabajo. ";
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Trabajo/Index");
    }
}
